@import 'material-icons/iconfont/material-icons.css';

@font-face {
    font-family: medium ;
    src: url(./fonts.ttf);
}

@font-face {
    font-family: regular;
    src: url(./regular.ttf);
}

body {
    color: #E2E8F0;
    background-color: #0E172A;
}
* {
    margin: 0;
    font-family: regular;
}